.rightBar {
  width: 84px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffffeb;
  border-left: solid 1px #cecece;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.1s ease-in-out;
}

.rightBar:hover {
  width: 300px;
}

.rightBar:hover th:nth-child(1),
.rightBar:hover td:nth-child(1) {
  padding-left: 0px !important;
  text-align: center;
}

.navigationPanel {
  display: flex;
  height: 100%;
  position: absolute;
  right: 0px;
}
